.box {
    background-color: grey;
    width: calc(100% - 200px);

    position: relative;
    margin-left: 100px;
    margin-top: 20px;
    padding: 20px;
}
.box::after {
    position: absolute;
    content: "";
    border-top : solid 1px rgb(92, 82, 82);
    border-bottom : solid 1px rgb(92, 82, 82);
    right: -25px;
    left: -25px;
    top : 0px;
    bottom: 0px;

}

.box::before {
    position: absolute;

    content: "";
    border-left : solid 1px rgb(92, 82, 82);
    border-right : solid 1px rgb(92, 82, 82);
    right: 0;
    left: 0;
    top : -25px;
    bottom: -25px;

}