#circle {
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 50%;
    animation: 10s linear infinite rotate_circle;


}

@keyframes  rotate_circle {
    0%  { margin-left: 0%;}
    50% { margin-left: calc(100% - 100px);}
    100% { margin-left: 0%;}
}

#circle:hover {
    transition: 2s background-color;
    background-color: red;
}